<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/aboutstyles.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Meet the team</h1>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/Darrion.jpg" alt="Darrion">
        <div class="centered">
          <h1>Darrion</h1>
          <br>
          <button><a href="/game1">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/Joe.jpg" alt="Joe">
        <div class="centered">
          <h1>Joe</h1>
          <br>
          <button><a href="/game2">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/Marc.jpg" alt="Marc">
        <div class="centered">
          <h1>Marc</h1>
          <br>
          <button><a href="/game3">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/Mike.jpg" alt="Mike">
        <div class="centered">
          <h1>Mike</h1>
          <br>
          <button><a href="/game3">More info</a></button>
        </div>
      </div>
    </div>
  </div>
@* testing team section *@
  @* <section id="team" class="team-area">
    <div class="container">
      <div class="row team-items">
        <div class="col-md-3 single-item">
          <div class="item">
            <div class="thumb">
              <img class="img-fluid" src="../img/Darrion.jpg" alt="Thumb">
              <div class="overlay">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <h4>Darrion</h4>
              <span>Backend Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 single-item">
          <div class="item">
            <div class="thumb">
              <img class="img-fluid" src="../img/Joe.jpg" alt="Thumb">
              <div class="overlay">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <h4>Joe</h4>
              <span>Game Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 single-item">
          <div class="item">
            <div class="thumb">
              <img class="img-fluid" src="../img/Marc.jpg" alt="Thumb">
              <div class="overlay">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <h4>Marc</h4>
              <span>Web Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 single-item">
          <div class="item">
            <div class="thumb">
              <img class="img-fluid" src="../img/Mike.jpg" alt="Thumb">
              <div class="overlay">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <h4>Mike</h4>
              <span>Game Design</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> *@
@* testing team section *@
@* This is the footer *@
  <footer class="gameindexfooter">
    <div class="grid-container">
      <div class="grid-item">
        <h4 style="text-align: left">Epicodus Games</h4>
        <p>400 SW 6th Ave #800, Portland, OR 97204</p>
        <p>info@epicodusgames.com</p>
        <br>
      </div>
      <div class="grid-item">
        <ul class="nav" style="text-align: center">
          <button><a href="/games">Our Games</a></button>
          <button><a href="/about">About Us</a></button>
          <button><a href="/contact">Contact Us</a></button>
        </ul>
      </div>
      <div class="grid-item">
        <h4 style="text-align: right " class="connect">Connect with us:</h4>
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  @* This is the end of the footer *@
</body>
</html>
